@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    text-align: center
    
}

a {
    text-decoration: none;
    color: #084a7e
  }

h2 {
    font-style: italic;
}

* {
    font-family: 'Readex Pro', sans-serif;
}

.primary-title {
    font-size: 90px;
    color: rgb(255, 255, 255);
}

.primary-button {
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg,  #fba71d , #084a7e);
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(260deg,  #fba71d , #084a7e);
}

.secondary-button {
    color: rgb(121, 119, 119);
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 30px;
    border: solid 2px rgb(121, 119, 119);
    margin: 6px;
    align-self: center;
    width: 300px;
}

.secondary-button:hover {
    color: rgb(48, 48, 48);
    border: solid 2px rgb(48, 48, 48);
}


/*-------- Navbar --------*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Agregado para alinear verticalmente los elementos */
    background-color: #161332;
    position: relative;
}

nav .nav-button {
    color: #084a7e;
    background-color:  #fba71d ;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

nav .nav-button-entrar {
    color: #084a7e;
    background-color:  #fba71d ;
    margin: 10px;
    font-weight: bold;
    position: absolute;
    right: 0;
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}



nav .nav-button:disabled {
    background-color: #161332;
    color: #161332;
}

nav .logo-container {
    display: flex;
    align-items: center;
    margin: 15px;
}

nav .logo-container .logo {
    width: 100%;
}

nav .logo-container img {
    margin-left: auto;
}




/* -------- Home page --------*/
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0) 100%
    ), url("/images/fondo.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
  flex-direction: column;
}

.home {
    margin-top: 30vh;
}

/*-------- Auth Modal --------*/
.auth-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 40px;
    height: 400px;
}

.auth-modal .close-icon {
    float: right;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}

/*-------- OnBoarding Page --------*/

.header {
    background-color: #084a7e;
    height: 200px;
    align-items: center;
    display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.header h2 {
    color: #fff;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.onboarding {
    border-top: solid 1px rgb(213, 213, 213);
    background: url("/images/fondo_onbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.onboarding form {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido verticalmente en la parte superior */
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 65%; /* Ajusta el ancho del formulario según tus necesidades */
    text-align: start;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
    background-color: transparent;
}



.onboarding form select {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
    background-color: transparent;
}

.onboarding form label {
    margin: 10px 0;
}
.onboarding form .dato {
    margin: 10px 0;
    font-weight: bold;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form .enviar{
    background-color: #084a7e;
    width: 300px;
    align-self: center;
    align-items: center;
    color: #fff;
}

.onboarding form input[type=radio] {
    display: none;
}

.onboarding form input[type=number] {
    width: 10%;
}

.onboarding form input[type=radio]:checked + label {
    border: solid 3px #084a7e;
}

.onboarding form input[type=submit]:hover {
    background-color: #add8f9;
}

.onboarding form input[type=submit]:active {
    background-color:  #fba71d ;
}

.onboarding form .photo-container {
    width: 35%; /* Ajusta el ancho del contenedor de la imagen según tus necesidades */
}

.onboarding form .photo-container img {
    width: 100%;
    border-radius: 10px;
}

.onboarding h2{
    font-size: 50px;
}


/*-------- Dashboard  --------*/
.dashboard {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.dashboard .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/images/fondo_dash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8; 
}

.dashboard .card-container .expli1 {
    color: #fff;
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 0;
}
.dashboard .card-container .expli2 {
    color: #fff;
    font-size: 15px;
}
.dashboard .card-container .expli {
    text-align: left;
    margin-left: 100px;
}


.dashboard .card-container {
    width: 70%;
    display: inline-flex;
    height: 650px;
    position: absolute;
    top: 0;
    right: 0;
}

.swipe {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 230px;
    margin-right: 80px;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.person {
    display: flex;
    align-items: center;
}

.card {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
    float: left;
}

.info {
    background-color: white;
    flex: 1;
    margin-right: 100px;
    height: 400px;
    width: 500px;
}

.person {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 1000px;
    margin: 0 auto;
  }
  
  .info {
    text-align: center;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  }
  
  .info h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .info h4 {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    align-self: center;
  }
  
  .info p {
    color: #999;
    font-size: 14px;
  }
  .sport {
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .text 
  {
    width: 90%;

  }


.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: black;
    text-align: center;
    margin-left: 23%;
}

.card {
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-top: 2%;
    margin-right: 2%;
    background-position: center;
}

.card h3 {
    margin-top: 0;
}

.dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

/*-------- Chat Container --------*/
.chat-container {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 30%;
    text-align: left;
    z-index: 1;
    height: 100vh;
}

.chat-container .chat-container-header {
    background: linear-gradient(45deg, #084a7e,  #fba71d);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-container .option {
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 4px #161332;
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}

.chat-container .option:disabled {
    border-bottom: solid 4px rgb(187, 187, 187);
}

.chat-container .profile,
.chat-container .log-out-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    color: black;
}

.profile h3 {
    font-size: 30px;
    max-width: 300px;
}

.img-container {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}


.img-container img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Hace que la imagen ocupe todo el alto del contenedor */
    object-fit: cover;
}

/*-------- Chat Display --------*/
.chat-display,
.matches-display {
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
    max-height: 800px;
    margin-bottom: 5px;
}

/*-------- Chat Input --------*/
.chat-input {
    display: flex;
    flex-direction: column;
  }

/*-------- Chat Message --------*/
.message {
    margin: 0;
    font-size: 15px;
    background-color: lightblue;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    max-width: 330px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
  }
  
  
  
.sender {
    display: flex;
    align-items: center;
  }

  .sender .img-container {
    width: 16px; /* Ajusta el ancho del contenedor a tu preferencia */
    height: 16px; /* Ajusta la altura del contenedor a tu preferencia */
    border-radius: 100%; /* Aplica un radio del 50% para lograr la forma circular */
    overflow: hidden;
    margin: 3px 0 15px 0
  }
  
  .sender .img-container img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Hace que la imagen ocupe todo el alto del contenedor */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  }
  .sender .name {
    margin: 3px 3px 15px 3px;
    font-size: 10px;
  }

  .chat-message-header.left {
    text-align: left;
    direction: ltr;
  }
  
  .chat-message-header.right {
    text-align: right;
    direction: rtl;
  }
  
  .chat-input textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 16px;
    outline: none;
    width: 350px;
    overflow: auto;
    align-self: center;
  }
  

  .match-card {
        display: flex;
        align-items: center;
  }

  .refres {
    display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #161332;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  }

  .refresh:hover {
    background-color: #161332;
  }

  .footer {
    background-color: #161332;
    color: #fff;
    padding: 10px;
    display: flex;
  justify-content: space-between;
    margin-top: 110px;
  }

  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  
  
  
  






